body{
       box-sizing: border-box 
}

.img__titre{
max-width: 10em;
}











.containers{
  
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size:2em;
}


.login__item__inscription{
    color: rgb(0, 0, 0);
    text-decoration: none; 
    margin: 1em 
}


.login__item{
    color: rgb(0, 0, 0);
    text-decoration: none; 
    margin: 1em
}



.submenu__item--current{
    text-decoration: none;
     margin-right: 1em;
     grid-column: 2/3;
     font-size: 1rem;
     
}
.submenu__item{
    color: rgb(0, 0, 0);
    text-decoration: none; 
    margin: 1em



}


