body{
       box-sizing: border-box 
}

.img__titre{
max-width: 10em;
}








.containers{
    background-color: black;
}






.nav{
   
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 1fr;
}




.submenu__item--current{
    text-decoration: none;
     margin-right: 1em;
     grid-column: 2/3;
     font-size: 1rem;
     color: white;
}
.submenu__item{
    color: rgb(0, 0, 0);
    text-decoration: none; 
    margin: 1em;
    font-size: 1rem;
    color: white;

}

.search_barre{
 font-size: 1rem;
};

.login{
    font-size: 1rem;
}


.login__item__conexion{
    color: rgb(0, 0, 0);
    text-decoration: none; 
    margin: 1em;
    color: white;
    
}



.login__item__inscription{
    color: white;
    text-decoration: none; 
    margin: 1em;
    
}
