
.card-carous-container {
    display: grid;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 20px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(9, 200px);
  }
  
  .card-item {
    width: 150px;
    height: 225px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 10px 5px 10px black;
    scroll-snap-align: center;
    background-size: cover;
    background-position: center;
    display: grid;
    align-items: end;
    text-align: center;
    
  }





.text-card-item{
  text-decoration: none;
    color: white;
    font-weight: bold;
}






  .card-item:nth-child(1) {
   
    background-image: url('/public/img/jackette/nouveauté/ST.jpg')
  }
  
  .card-item:nth-child(2) {
    background-image: url('/public/img/jackette/nouveauté/ST.jpg');
  }
  
  .card-item:nth-child(3) {
    background-image: url('/public/img/jackette/nouveauté/ST.jpg');
  }
  .card-item:nth-child(4) {
    background-image: url('/public/img/jackette/nouveauté/ST.jpg');
  }
  .card-item:nth-child(5) {
    background-image: url('/public/img/jackette/nouveauté/ST.jpg');
  }
  .card-item:nth-child(6) {
    background-image: url('/public/img/jackette/nouveauté/ST.jpg');
  }
  