/* styles.css */

.carousel-inner {
    display: flex;
    flex-direction: row;
  }
  






  .carousel-item {
    flex: 0 0 auto;
    width: 100%; /* Set the width of carousel items */
  }
  
  .d-flex {
    display: flex;
  }
  
  .justify-content-center {
    justify-content: center;
  }
  
  .custom-col {
    padding: 0; /* Remove padding to bring cards closer together */
    margin: 1em; /* Adjust margin to bring cards closer together */
  }
  
  .card.custom-card {
   
    margin: 0; /* Remove margin for tighter spacing */
    border: none; /* Remove border around cards */
    background-color: transparent; /* Remove background color */
  }
  
  .custom-img {
    width: 150px; /* Set the desired width for the card images */
    height: 225px; /* Set the desired height for the card images */
    object-fit: cover; /* Ensure images cover the card without distortion */
    display: block; /* Ensure the image is treated as a block element */
    border-radius: 8px; /* Remove any border radius */
    box-shadow: 10px 5px 10px black;
  }

.carousel-title{
  margin-top: 2em;
  padding-left: 1rem;
}

.carousel-description{
  margin-bottom: 3em;
  padding-left: 1em;
}


  .carousel-control-container{
    font-size: 24px;
     padding: 8px 16px;
  }
  
  .carousel-control-prev{
    width: 50px;
    height: 225px;
    align-self: center; /* Aligner le bouton précédent à gauche */
     background-color: black;
  }
  
.carousel-control-next{
  width: 50px;
  height: 225px;
 align-self: center; /* Aligner le bouton suivant à droite */
  background-color: black;
  
  
}

.carousel-control-next-icon{
  color: white;
 
}