
.card-carous-container {
    display: grid;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 20px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(9, 200px);
  }
  
  .card-item {
    width: 150px;
    height: 225px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    scroll-snap-align: center;
    background-size: cover;
    background-position: center;
    color: white;
  }
  .card-item:nth-child(1) {
    background-image: url('/public/img/jackette/nouveauté/ST.jpg')
  }
  
  .card-item:nth-child(2) {
    background-image: url('/public/img/jackette/nouveauté/ST.jpg');
  }
  
  .card-item:nth-child(3) {
    background-image: url('image3.jpg');
  }