.header_middle_console {
    background-image: radial-gradient(circle farthest-corner at 10% 10%, #46aa54, #037716, #168a42);
    color: rgb(8, 8, 8);
    padding: 20px;
    text-align: center; /* Centrer le contenu */
}

.header_console_title {
    font-size: 2em;
    color: #fff; /* Couleur blanche pour le titre */
    margin-bottom: 20px; /* Espacement en bas du titre */
}

.header_console_couv {
    display: flex;
    align-items: center;
    
    margin-top: 20px; 
}

.header_console_couv_img {
    flex: 0 0 auto; /* Ne pas faire redimensionner l'image */
    margin-right: 20px; /* Espacement à droite de l'image */
}

.header_console_couv_img img {
    width: 300px;
    height: auto;
}

.header_console_description {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left; /* Aligner le texte à gauche */
}

.description_title {
    font-weight: bold;
}

.description_info {
    color: white;
}

.title-container {
    text-align: center;
    margin: 20px 0;
}

.console-title {
    font-size: 2em;
    color: black; /* Couleur blanche pour le titre des jeux */
}

.genre-card-container {
    display: flex;
    padding-left: 1em;
    flex-wrap: wrap;
}

.genre-card-item {
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin: 10px;
}

.detail-card {
    text-align: center;
    color: white; /* Couleur du texte blanc pour les détails */
    padding: 10px;
}

