.title-container{
    padding-bottom: 1em;
    padding-top: 1em;
}

.horreur-card-container{
    width: 150px; /* Ajustez la largeur des images */
  height: 225px
} 

.horreur-card-item{

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 10px 5px 10px black;
    z-index: 1;
}