.inscription-container{
    background-color: #272727;
}



.img__titre {
    max-width: 10em;
  }

.backround-img-form{

    background-image: url('/public/img/fond/fond.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

  .inscription-formulaire{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    height: 500px;
  }
.button-inscription{
    align-items: center;
}

form input,form label{
    margin-bottom: 2em;
    align-self: center;
}
