body{
       box-sizing: border-box 
}

.img__titre{
max-width: 10em;
}








.containers{
    background-color: #272727
}






.nav{
   
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 1fr;
}




.submenu__item--current{
    text-decoration: none;
     margin-right: 1em;
     grid-column: 2/3;
     font-size: 1rem;
     color: white;
}
.submenu__item{
    color: rgb(0, 0, 0);
    text-decoration: none; 
    margin: 1em;
    font-size: 1rem;
    color: white;

}

.search_barre{
 font-size: 1rem;
};

.login{
    font-size: 1rem;
}


.login__item__conexion{
    color: rgb(0, 0, 0);
    text-decoration: none; 
    margin: 1em;
    color: white;
    
}



.login__item__inscription{
    color: white;
    text-decoration: none; 
    margin: 1em;
    
}

.header_middle_couv{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
}



.header_middle_couv_img{
    grid-column: 1 / 3;   

}





.header_middle{
    background-image: radial-gradient(circle farthest-corner at  10% 10%, #0c2d59, #6f5884, #bc9ac3);
    color: white;
}

.header_middle_title{
    padding-left: 1.5em;
}


.header_middle_list{
   list-style: none;
   grid-row: 1 / 5;
   grid-column: 1 / 3;
   font-size: larger;
}

.header_middle_button{
    grid-row: 5 / 6;
    padding-top: 1em;
    padding-left: 2em;
}




.header_middle_button_insc{
    text-decoration: none;
    color: white;
    border:  1px solid black;
    border-radius: 10px;
    height: 100px; 
    width: 200px;
    padding: 10px;
    background-color: #272727;
}


.card-title{
  padding-left: 1em;
}

.card-container {
    
    grid-template-columns: repeat(3, 100px);
    display: grid;
    grid-template-rows: repeat(2, 100px);
    row-gap: 15px;
    column-gap: 60px;
    padding-right: 1em;
}
  
  .card {
    height: 109px;
    width: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
  }

  
  .card_name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    z-index: 2;
    text-decoration: none;
  }




  .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond noir avec une opacité de 50% */
    z-index: 1;
  }
  .card-content p {
    margin: 0;
    font-size: 14px;
  }

  .card-1 { background-image: url('/public/img/genre/fps.jpg');
    
 }
  .card-2 { background-image: url('/public/img/genre/gestion.jpeg');
    
}
  .card-3 { background-image: url('/public/img/genre/horror.jpg'); 
   
}
  .card-4 { background-image: url('/public/img/genre/inde.jpeg'); 
    
}
  .card-5 { background-image: url('/public/img/genre/mmo.jpg'); 
   
}
  .card-6 { background-image: url('/public/img/genre/moba.jpeg'); 
   
}
  .card-7 { background-image: url('/public/img/genre/plateforme.jpg'); 
   
}
  .card-8 { background-image: url('/public/img/genre/rpg.jpg'); 
   
}
  .card-9 { background-image: url('/public/img/genre/simulation.jpg');
   
}
  .card-10 { background-image: url('/public/img/genre/sport.jpg');
    
}
  .card-11 { background-image: url('/public/img/genre/str.jpg'); 

}
footer{
  padding-top: 2em;
}
.footer_container{
  background-color:#272727 ;
}

.footer_text{
  color: white;
  z-index: 3;
}