.slick-slider {
    width: 80%;
    margin: 0 auto;
}
.slick-slide {
    padding: 0 1em; /* Espacement entre les images */
}
.slick-slide img {
    width: 150px; /* Largeur 100% pour remplir le conteneur */
    height:225px; /* Hauteur automatique pour conserver les proportions */
}
.slick-prev, .slick-next {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.slick-prev {
    left: -50px; /* Position du bouton précédent */
}
.slick-next {
    right: -50px; /* Position du bouton suivant */
}
.slick-prev:before, .slick-next:before {
    font-size: 20px;
    color: white;
}